.header {
	background-color: #1abc9c;
	@include border-top-radius(0.25em);
	margin-bottom: 1em;
	background-image: url('/ripple/img/tiles.png');
	position: relative;
	height: 10em;

	&:after {
		content: '';
		display: block;
		position: absolute;
		background: rgba(0, 0, 0, 0.50);
		bottom: 0;
		height: 100.5%;
		left: 0;
		right: 0;
		@include border-top-radius(0.25em);
	}

	* {
		color: #fff;
		text-shadow: 0 0 4px black;
		display: inline-block;
	}

	.header-text {
		z-index: 1;
		position: absolute;
		bottom: 0;
	}
}

body {
	background: #333;
	padding: 1em 2em;
}

.site {
	background: #fff;
	box-shadow: 0 3px 10px rgba(0,0,0,.3);
	border-radius: 0.25em;
	padding-bottom: 1em;
	margin-bottom: 1em;
}

.content, .footer, .header { 
	padding: 1em;
}

h1 {
	font-size: 1.75em;
	color: #666;
}

h2 {
	font-size: 1.5em;
}

a {
	color: #177E6A;
	@include transition(color 150ms ease-in-out);
	&:hover {
		color: #0af0af;
	}
}

code.block {
	padding: 1em;
	display: block;
	background-color: #333;
	color: #fff;
	border-radius: 5px;
	box-shadow: inset 0 1px 10px rgba(0,0,0,.3),0 1px 0 rgba(255,255,255,.1),0 -1px 0 rgba(0,0,0,.5);

}

.content {
	overflow: hidden;
	// max-width: 45em;
}

.posts {
	list-style: none;
	.post {
		border-bottom: 1px solid #ccc;
		margin-bottom: 1em;
	}
	.post:last-child {
		border: 0;
	}
}
.post-title {
	font-size: 1.35em;
	span {
		font-size: 0.85em;
		float: right;
		color: #777;
	}
}

.sidebar {
	display: none;
	width: 25%;
	float: left;
	padding: 0 1em;

	.posts {
		list-style: none;
		margin: 0;
	}
	.post {
		border-bottom: 1px solid #eee;
		span {
			display: block;
			font-size: 0.85em;
			color: #777;
		}
		a {
			font-size: 1.25em;
		}
	}
}

.me {
	width: 25%;
	padding-right: 1em;
	float: left;
}

@media (min-width: 48em) {
	.content, .footer, .header { 
		padding: 0 25%;
	}
	.content {
		padding-left: 0 !important;
	}
	.sidebar {
		display: block;
	}
}