.about {
	.image-wrap {
		width: 100%;
		background: #222;
	}
	img {
		max-width: 20em;
		margin: 0 auto;
		display: block;
		border: 1px solid #000;
	}
	.subscribe-link {
		background: #eee;
		padding: 1em;
	}
}