<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>{{ page.title }}</title>
		<meta name="viewport" content="width=device-width">

		<!-- syntax highlighting CSS -->
		<link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css">

		<!-- Custom CSS -->
		<link rel="stylesheet" href="{{ site.baseurl }}/css/app.css">
	</head>
	<body>
		<div class="site">
			<div class="header">
				<div class="header-text">
					<h1 class="title"><a href="{{ site.homeurl }}">{{ site.name }}</a></h1>
					<a class="extra" href="{{ site.homeurl }}">\\home</a>
					<a class="extra" href="{{ site.baseurl }}/about.html">\\about</a>
				</div>
			</div>
			<div class="sidebar">
				<ul class="posts">
					{% for post in site.posts %}
						<li class="post">
							<a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
							<span>{{ post.date | date_to_string }}</span> 
						</li>
					{% endfor %}
				</ul>
			</div>
			<div class="content">
				{{ content }}
			</div>

			<!-- <div class="footer">
				<div class="contact">
					<p>
						Words and other things by Stefan Valentin.
					</p>
				</div>
			</div> -->
		</div>
	</body>
</html>
